a:link, a:visited, a:hover {
  text-decoration: none;
  color: #ffffff;
}
body nav#mainNav .navcontent {
  color: #087efe;
}

nav#main-nav ul li {
    background-color: #dcb5b9;
    color: #000000;
    display: inline-block;

}
nav#mainNav {
    position: inherit !important;
}
nav#main-nav ul {
    list-style: none;
    list-style-type: none;
    padding-left: 0;
    padding-top: 10px;
    width: auto;
    text-align: center;
    margin: auto;
    height: 100;
}
nav#main-nav ul li a {
    display: block;
    height: 100%;
    color: inherit;
}
nav#main-nav {
  /* height: 62px; */
  background-color: #1b16168a;
}
#navbtn {
  background-color: #98b24c;
}
#Logo {
  width: 66px;
  height: 66px;
}
/* html {
  font-size: 14px;
}


.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: =0;
  background-color: #a36565;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

 .jumbotron-heading {
  font-weight: 15rem;
  color: black;
}

a {
  color: #8cfa95;

}

.bg-dark {
  height: 50px;

} */
